<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean name="u" class="com.baishui.dao.impl.UserDaoForOracleImpl" />
    
  <bean id="service" class="com.baishui.service.UserService">
     <!--<property name="userDao" ref="u"/>
  -->
    <constructor-arg index="0">
      <ref bean="u"/>
    </constructor-arg>
    <constructor-arg index="1" type="java.lang.String" value="ssss">
        
    </constructor-arg>
  </bean> 
  
  <!-- more bean definitions go here --> 
</beans>